  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Santiago Garza Ceja</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Resume</a></li>
        <li><a href="badges.html">Portfolio</a></li>
        <li><a href="collapsible.html">Message me</a></li>
      </ul>
    </div>
  </nav>
